
    <!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" href="static/order.css">
        </head>



        <body>
            <h1>Order Food</h1>
            <form action='/gen_bill' method='post'>
               
                <input type='name' name="name" class="name_fld" placeholder="Enter Your Name">
                <div class="dishes">
                    <div id="ind_dish"> <input type='number' class='ipt_fld' name="dish1" value="0">
                        <h2>Samosa
                    </div>

                    <div id="ind_dish">
                        <input type='number' class='ipt_fld' name='dish2' value="0">
                        <h2>Paneer Tikka

                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish3' value="0">
                        <h2>Aloo Tikki</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish4' value="0">
                        <h2>Mixed Vegetable Salad</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish5' value="0">
                        <h2>Paneer Butter Masala</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish6' value="0">
                        <h2>Daal Makhani</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish7' value="0">
                        <h2>Malai Kofta</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish8' value="0">
                        <h2>Gulab Jamun</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish9' value="0">
                        <h2>Gaajar Ka Halwa</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish9' value="0">
                        <h2>Mango Lassi</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish9' value="0">
                        <h2>Masala Chai</h2>
                    </div>
                    <div id="ind_dish"><input type='number' class='ipt_fld' name='dish9' value="0">
                        <h2>Ice Cream</h2>
                    </div>
                </div>
                <input type="submit" class="sbt_fld">

            </form>
        
        </body>

    </html>